<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a href="https://github.com/joycezhangg" target="_blank">Joyce Zhang</a>, a web developer and designer who is really bad at describing herself and will update this with more solid material at a later date.
	</p>
	<br />
	</p>
		For now, it's probably a solid idea for you to spend half an hour doing something you find enjoyable.  Go play outside or browse the internet for <a href="https://www.google.com/search?site=&tbm=isch&source=hp&biw=1440&bih=873&q=puppies&oq=puppies&gs_l=img.12..0l10.5333.5956.0.11726.7.6.0.0.0.0.318.529.1j1j0j1.3.0....0...1ac.1.64.img..4.3.528.IKbxs0i7Qo8" target="_blank">puppies</a> or something.
	</p>

	<br />
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'foxflower.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
    	<h2 class="text-center"><i>Urocyon cinereoargenteus</i></h2>
		<br />
    	<p>
    		Be happy, like this grey fox.  Eat some flowers, unless they're poisonous, in which case you should probably avoid them.
    	</p>
	</div>

</div>

<br />
<br />
<br />
<br />
<br />