.clear {
	clear:both;
}

.circle {
	font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #000000;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	font-size: 23px;
	padding-top: 30px;
	color: #55DBDD;
}

.links {
	padding-top:30px;
}

.links a {
	color: black;
	font-family: 'colaborate-regularregular', sans-serif;
	font-size: 30px;
	border-bottom: 2px solid #888888;
	font-style: bold;
}

.links a:hover {
	border-bottom: 2px solid #22ABAB;
	font-style: bold;
	color: #22ABAB;
	text-decoration: none;
}

header {
	border-top: 9px solid #222222;
}

hr {
	clear:both;
	height: 1px;
	background-color: #222222;
	border: 0px;
}

h1 {
	font-family: 'colaborate-regularregular', sans-serif;
	font-style:italic;
	font-size: 45px;
}

h2 {
	font-family: 'colaboratelightregular', sans-serif;
	font-size: 33px;
}

.next-quote {
	color:#22ABAB;
	font-family: 'colaboratelightregular', sans-serif;
	font-style: italic;
	font-size: 20px;
}

.footer-blurb {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-style: italic;
	text-align: right;
	font-size: 20px;
	color: #888888;
}

.logo:hover {
	text-decoration: none;
}

.about {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

@media (max-width: 750px) {
	.footer-blurb {
		text-align: left;
	}
}

.modal {
		font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	}

h2 span {
	font-family: 'colaborate-regularregular', sans-serif;
	color: #dddddd;
}

::selection {
	background-color: #22ABAB;
}